html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:  #d5f5e3;
}

.form-pwd {
    margin-bottom: 15px;
    background:   #fdfefe;
    box-shadow: 0px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    padding: 30px;
    border-radius: 25px;
}

.form-reset-pwd {
    width: 500px;
    height: 400px;
}

.form-confirm-pwd {
    width: 500px;
    height: 500px;
}

.form-reset-pwd .form-floating:focus-within {
  z-index: 2;
}

.text-justified {
  text-align: justify;
  text-justify: inter-word;
}

.emailLabel{
    position: relative;
    left: 20%;
}

#loginButton{
    margin-top: 5%;
    font-size: 20px;
    background: #58d68d;
    border-color: #58d68d;
    height: 50px;
    width: 150px;
    color: white;
}

#resetPwdButton {
    background: #58d68d;
    border-color: #58d68d;
    height: 50px;
    width: 205px;
    color: white;
}

#inputEmail {
    height: 50px;
    width: 240px;
}

#backImg{
    height: 20px;
    width: 20px;
}
