{% extends "cultivos/base_generic.html" %}
{% block content %}
<div class="container container_new_terreno">
    <main>
        <div class="col-md-7 col-lg-8">
            {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
            <h4 class="mb-3">Nuevo Campo</h4>
            <form method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col">
                        <label class="form-label" for="num_ha">Número de hectáreas: </label>
                        {{ form.num_ha }}
                    </div>
                    <input type="hidden" class="form-control" name="user" value="{{ user.get_id }}">
                </div>
                <br>
                <div class="row g-3">
                    <div class="col">
                        <label class="form-label" for="volumen_agua_disp">Volúmen de agua disponible(l): </label>
                        {{ form.volumen_agua_disp }}
                    </div>
                </div>
                <br>
                <div class="row g-3">
                    <div class="col">
                        <label class="form-label" for="tipo_riego">Tipo de riego: </label>
                        {{ form.tipo_riego }}
                    </div>
                </div>
                <br>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg newBtn" type="submit">Registrar nuevo campo</button>
                <hr class="my-4">
                <div class="col-sm-1">
                    <a href="https://adnana.pythonanywhere.com/cultivos/campos/">Back</a>
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock %}