{% extends "cultivos/base_generic.html" %}
{% block content %}
    <div class="card card-detail-campo">
        {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="card-header headerTerrenoDetailList">
                <p class="h1 fw-bold">Terreno: {{ id }}</p>
            </div>
        </div>
        {{ map|safe }}
        <div class="col">
            <div class="card-footer footerTerrenoDetailList">
                <a href="{{request.META.HTTP_REFERER|escape}}">Back</a>
            </div>
        </div>
    </div>
{% endblock content %}
