{% extends "cultivos/base_generic.html" %}
{% block content %}
    <div class="card card-detail-campo">
        {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-sm-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Selecciona un terreno
                    </button>
                    <ul class="dropdown-menu">
                        {% for campo in mis_campos %}
                            <li><a class="dropdown-item" href="{{ campo.get_absolute_url }}">Terreno {{ campo.id }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <form action="/cultivos/campos/addCampo/">
    	                {% csrf_token %}
        	            <button class="w-80 btn btn-primary buttonStyle" type="submit">Nuevo Terreno</button>
                </form>
            </div>
        </div>
        {{ chart|safe }}
    </div>
{% endblock %}